{% load static %}

<!DOCTYPE html>
<html lang="fr">
<html>

    <head>
        <meta charset="UTF-8">
        {% block  title %}
            <title>Accueil du site</title>
        {% endblock  %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.minty.css' %}">
    </head>

    <body  class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-size: 1.5rem;">
            <div class="container-fluid mx-2">

                <a class="navbar-brand" href="{% url 'index' %}">Bic&Co</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            {% comment %} <a class="nav-link active" href="{% url 'articles:home' %}">Shop</a> {% endcomment %}
                            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'articles:home' %}" role="button"
                                >Shop</a>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            {% comment %} <a class="nav-link" href="{% url 'account:logout' %}">Logout</a> {% endcomment %}
                            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'account:logout' %}" role="button"
                                ><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            {% comment %} <a class="nav-link" href="{% url 'account:detail' slug=request.user.username|slugify %}">Profile</a> {% endcomment %}
                            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'account:detail' slug=request.user.username|slugify %}" role="button"
                                ><i class="fas fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                            {% comment %} <a class="nav-link" href="{% url 'commande:home' %}"><i class="fas fa-shopping-basket"></i></a> {% endcomment %}
                            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'commande:home' %}" role="button"
                                ><i class="fas fa-shopping-basket"></i></a>
                        </li>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                                    <li class="nav-item">
                                        {% comment %} <a class="nav-link" href="{% url 'articles:create' %}"><i class="fas fa-plus"></i></a> {% endcomment %}
                                        <a class="btn btn-outline-light btn-floating m-1" href="{% url 'articles:create' %}" role="button"
                                ><i class="fas fa-plus"></i></a>
                                    </li>
                        {% endif %}
                        {% else %}
                        <li class="nav-item">
                            {% comment %} <a class="nav-link" href="{% url 'account:login' %}">Login</a> {% endcomment %}
                            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'account:login' %}" role="button"
                                >Login</a>
                        </li>
                        <li class="nav-item">
                            {% comment %} <a class="nav-link" href="{% url 'account:signup' %}">SignUp</a> {% endcomment %}
                            <a class="btn btn-outline-light btn-floating m-1" href="{% url 'account:signup' %}" role="button"
                                >SignUp</a>
                        </li>
                        {% endif %}
                    </ul>

                    {% block category %}
                        <div class="text-right">
                            <ul class="navbar-nav ">

                                {% if request.user.is_authenticated and request.user.is_superuser %}
                                    {% comment %} <li class="nav-item">
                                        <a class="nav-link" href="{% url 'articles:create' %}"><i class="fas fa-plus"></i></a>
                                        <a class="btn btn-outline-light btn-floating m-1" href="{% url 'articles:create' %}" role="button"
                                ><i class="fas fa-plus"></i></a>
                                    </li>  {% endcomment %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stat</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item col-2 btn btn-outline-primary" href="{% url 'articles:home' %}">Articles</a>
                                            <a class="dropdown-item col-2 btn btn-outline-primary" href="{% url 'account:stat' %}">Clients</a>
                                            <a class="dropdown-item col-2 btn btn-outline-primary" href="{% url 'commande:stat' %}">Commande</a>
                                        </div>
                                    </li>
                                {% endif %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catégories
                                    </a>
                                    <form method='GET' action='/articles/'>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <input type="submit" name='q' class="dropdown-item col-2 btn btn-outline-primary" value='Bureautique'>
                                            <input type="submit" name='q' class="dropdown-item col-2 btn btn-outline-primary" value='Scolaire'>
                                            <input type="submit" name='q' class="dropdown-item col-2 btn btn-outline-primary" value='Je sais pas encore'>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endblock %}

                    {% block search %}
                        <form class="d-flex" method='GET' action='/articles/'>
                            <input class="form-control me-sm-2" type="text" name='q' placeholder='Search'>
                            <button class="btn btn-secondary my-2 my-sm-0" value='Rechercher' type="submit">Search</button>
                        </form>
                    {% endblock %}
                </div>
            </div>
            </nav>


            {% include 'messages.html'%}

        <section id = "site" >
        {% block content %}
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center" style="height: 80vh;">
                    <div class="d-flex justify-content-center display-1 col-6 align-item-center">
                        <p>Bienvenue sur <br><strong>Bic&Co</strong></p>
                    </div>
                    <div class="d-flex justify-content-center col-6 align-item-center">
                        <a style="width: 50%;" class="btn btn-secondary" href="{% url 'articles:home' %}">Vers Eshop</a>
                    </div>
                </div>
            </div>
        {% endblock %}
        </section>

        <footer class="bg-primary mt-auto text-center text-white" >
        
            <div class="container p-4 pb-0">
            
                <section class="mb-4">
                
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-facebook-f"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-twitter"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-google"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-instagram"></i
                ></a>
                </section>
                
            </div>
            
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Bastien Deweze</a>
            </div>
            
        </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    </body>
    
</html>