#site {
    background: rgb(236,56,255);
    background: linear-gradient(90deg, rgb(255, 24, 205), rgb(0, 174, 255) );
    height: 100vh;
}

.card {
    background:rgba(255,255,255, 0.1);
    box-shadow: 0.625rem 0.625rem 0.625rem rgba(46,54,68,0.1);
    backdrop-filter: blur(1.875rem);
    border: var(--border-glass-un); 
    border-right: var(--border-glass-deux);
    border-bottom: var(--border-glass-deux);
    background-clip: padding-box;
}