{% extends 'index.html' %}

{% block  title %}
    <title>Mon profile</title>
{% endblock  %}

{% block content %}
    <div class="text-center mt-5">
        <h1 class="display-4">Mon profile</h1>

        <div class="my-5">
            <h2 class="mt-2"><strong>{{userprofile.first_name}} {{userprofile.last_name}}</strong><h2>
            <ul class="list-unstyled">
                <li>Nombre total d'achat : {{ userprofile.total_number_of_purchase}}</li>
                <li>Nombre d'achat courant : {{ userprofile.number_of_purchase}}</li>
                <li>ZipCode : {{ userprofile.city}}</li>
            </ul>
            {% if request.user.username|slugify ==  userprofile.slug %}
                <a style="width: 20rem;" href="{% url 'commande:my-orders' %}" class=" my-2 btn btn-outline-info">Mes commandes</a><br>
                <a style="width: 20rem;" href="{% url 'account:edit' slug=userprofile.slug %}" class="my-2 btn btn-outline-primary">Editer</a><br>
                <a style="width: 20rem;" href="{% url 'account:delete' slug=userprofile.slug %}" class="my-2 btn btn-outline-danger">Supprimer</a>
            
            {% endif %}
        </div>
    </div>

{% endblock %}